/* 1o rule sets
At least 1 type, class, ID and attribute selector
works consistently across HTML
modify basic layout - backgrounds, margins, padding) and typography
no CSS or <br> in markup */

html {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    /*credit: https://codepen.io/nohoid/pen/kIfto */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #493434;
    border-top: 10px solid #242424;
    background: #fff;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	#000;
  }
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #fff;
    color: #fd59d2;
}

}

h1 {
    font-size: 3em;
    margin: 0;
    color: #fd59d2;
    padding-bottom: .5em;
}

h2 {
    padding: 20px;
    font-style: italic;
}

p {
    line-height: 1.4em;
}

article {
    border-top: 5px solid #242424;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
}

.artititle {
    color: #fd59d2;
}

article img {
    max-width:100%;
    max-height:100%;
}

#signup {
    padding: 20px;
    margin: 10px;
    border-top: 5px solid #242424;
}

button {
    background-color: #fd59d2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #fff;
    color: #fd59d2;
    border: 2px solid #fd59d2;
}
/* attribute */